main article .entry-header {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    main article .entry-header {
      float: left;
      width: 100%; } }
main article .entry-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    main article .entry-content {
      float: left;
      width: 100%; } }
main article .entry-footer {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    main article .entry-footer {
      float: left;
      width: 100%; } }
main article > hr {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d6d6d6; }
  @media (min-width: 768px) {
    main article > hr {
      float: left;
      width: 100%; } }
